@charset "UTF-8";
body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #444;
}

.title {
  color: #e41612;
}

body {
  background-image: url(/assets/images/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #040B22;
  margin: 0;
  line-height: 1.4;
}

.paragraphe {
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 20px;
}

.title--normal {
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  font-size: 29px;
  margin: 0;
  color: #00FFC2;
}

.title--sub {
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0;
  color: #00FFC2;
}

.para--bold {
  font-weight: 700;
}

.nbr__section {
  font-size: 23px;
  color: rgba(0, 255, 195, 0.4);
}

.legende {
  color: #00FFC2;
  font-family: "Jost", sans-serif;
}

.link--normal {
  color: #00FFC2;
  text-decoration: none;
}

.menu-nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  overflow-y: auto;
  padding: 20px;
  z-index: 100;
}
.menu-nav .nav__el--position {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-nav .nav__el--position .nav__link {
  text-decoration: none;
  color: white;
  font-size: 32px;
}
.menu-nav .nav__el--position .active {
  color: #00FFC2;
}
.menu-nav .nav__el--position li {
  margin-bottom: 10px;
}

.menu-nav:hover {
  background-color: rgba(4, 11, 34, 0.5);
}
.menu-nav:hover .nav__el--position:hover .nav__link:hover {
  opacity: 0.5;
}
.menu-nav:hover .nav__el--position:hover .nav__link--1::after {
  content: "ontext";
}
.menu-nav:hover .nav__el--position:hover .nav__link--2::after {
  content: "tilisateurs";
}
.menu-nav:hover .nav__el--position:hover .nav__link--3::after {
  content: "encontres";
}
.menu-nav:hover .nav__el--position:hover .nav__link--4::after {
  content: "roblèmatiques";
}
.menu-nav:hover .nav__el--position:hover .nav__link--5::after {
  content: "ypothèses";
}
.menu-nav:hover .nav__el--position:hover .nav__link--6::after {
  content: "olution";
}

.title__section {
  margin-top: 17%;
}
.title__section .title--big {
  font-size: 96px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #00FFC2;
  height: 110px;
  font-family: "puffin-arcade-nerf", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 15px;
}
.title__section .legende__title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Jost", sans-serif;
}

.section__contexte {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 5fr 1fr;
  margin-top: 20%;
}
.section__contexte .contexte__title {
  grid-column-start: 2;
}
.section__contexte .contexte__para--1 {
  grid-column-start: 4;
  font-weight: 300;
  margin: 0;
}
.section__contexte .contexte__para--2 {
  margin-top: 20px;
  grid-column-start: 4;
}

.section__user {
  margin-top: 7%;
}
.section__user .user__title--position {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 5fr 1fr;
  background-color: rgba(4, 11, 34, 0.5);
  height: 160px;
}
.section__user .user__title--position .user__title {
  grid-column: 2/4;
  width: 100%;
  display: flex;
  align-items: center;
}

.icone__user--position {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15%;
  margin-bottom: 15%;
}
.icone__user--position .title__iconeU {
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  margin: 0;
  color: #00FFC2;
}
.icone__user--position .icone__user {
  width: 200px;
  height: 300px;
  grid-row-start: 2;
  margin: auto;
  cursor: pointer;
}
.icone__user--position .icone__user1 {
  padding-top: 14px;
}
.icone__user--position .legende__user {
  grid-column: 3;
  margin-top: 20%;
  display: flex;
  justify-content: flex-end;
  margin-right: 30%;
  font-size: 20px;
}
.icone__user--position .icone__user1 {
  grid-row: 2;
  grid-column: 1;
}
.icone__user--position .p__prof {
  grid-row: 2;
  grid-column: 1;
}
.icone__user--position .icone__user2 {
  grid-row: 2;
  grid-column: 2;
}
.icone__user--position .p__joue {
  grid-row: 2;
  grid-column: 2;
}
.icone__user--position .icone__user3 {
  grid-row: 2;
  grid-column: 3;
}
.icone__user--position .p__arti {
  grid-row: 2;
  grid-column: 3;
}
.icone__user--position .icone__user--p {
  display: flex;
  align-items: center;
  margin: 44px;
  margin-top: 11px;
  padding: 22px;
  border-radius: 20px;
  opacity: 0;
  z-index: -10;
  background-color: rgba(4, 11, 34, 0.3);
}
.icone__user--position .p__toggle {
  opacity: 1;
  z-index: 10;
  cursor: pointer;
}
.icone__user--position .blurr__icone {
  filter: blur(4px);
}

.section__rencontre {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 5fr 1fr;
}
.section__rencontre .rencontre__title {
  grid-column: 2/4;
}
.section__rencontre .rencontre__para--1 {
  grid-column-start: 4;
  font-weight: 300;
  margin: 0;
}
.section__rencontre .rencontre__para--2 {
  margin-top: 20px;
  grid-column-start: 4;
}
.section__rencontre .icone__rencontre--position {
  grid-column-start: 4;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  margin-top: 5%;
}
.section__rencontre .icone__rencontre--position .icone__rencontre {
  grid-row: 1;
  margin: auto;
  width: 80px;
  height: 80px;
}
.section__rencontre .icone__rencontre--position .title__iconeR {
  display: flex;
  justify-content: center;
  color: #00FFC2;
  font-family: "Jost", sans-serif;
}
.section__rencontre .icone__rencontre--position .title__iconeR--1 {
  grid-column: 1;
}
.section__rencontre .icone__rencontre--position .title__iconeR--2 {
  grid-column: 3;
}
.section__rencontre .icone__rencontre--position .title__iconeR--3 {
  grid-column: 5;
}

.section__prob {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 5fr 1fr;
  margin-top: 15%;
}
.section__prob .prob__title {
  grid-column: 2/4;
}
.section__prob .prob__para--1 {
  grid-column-start: 4;
  font-weight: 300;
  margin: 0;
}
.section__prob .prob__para--2 {
  margin-top: 40px;
  font-weight: 300;
  grid-column-start: 4;
}
.section__prob .prob__para--3 {
  margin-top: 40px;
  font-weight: 300;
  grid-column: 2/5;
  color: #00FFC2;
  font-size: 24px;
}

@keyframes defilement {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.bandeau-container {
  width: 100%;
  height: 160px;
  margin-top: 1%;
  margin-bottom: 15%;
  overflow: hidden;
  position: relative;
  background-color: rgba(4, 11, 34, 0.5);
  color: #fff;
  font-size: 51px;
  line-height: 50px;
  font-family: "puffin-arcade-regular", sans-serif;
}

.bandeau-texte {
  display: inline-block;
  white-space: nowrap;
  margin-top: 60px;
  animation: defilement 60s linear infinite;
  animation-delay: -25s;
}

.message {
  margin-right: 200px;
}

.section__hypo {
  background-color: rgba(4, 11, 34, 0.5);
  padding-bottom: 5%;
  margin-bottom: 10%;
}
.section__hypo .hypo__title--position {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 5fr 1fr;
}
.section__hypo .hypo__title--position .hypo__title {
  grid-column: 2/5;
  margin-top: 5%;
  margin-bottom: 5%;
}
.section__hypo .hypo__para--position {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  margin-left: 60px;
  margin-right: 60px;
}
.section__hypo .hypo__para--position .hypo__para {
  border: 2px solid #00FFC2;
  border-radius: 20px;
  padding: 15px;
}
.section__hypo .hypo__para--position .hypo__para--1 {
  grid-column: 1;
  grid-row: 1;
}
.section__hypo .hypo__para--position .hypo__link--1 {
  grid-column: 1;
  grid-row: 1;
}
.section__hypo .hypo__para--position .hypo__para--2 {
  grid-column: 2;
  grid-row: 1;
}
.section__hypo .hypo__para--position .hypo__link--2 {
  grid-column: 2;
  grid-row: 1;
}
.section__hypo .hypo__para--position .hypo__para--3 {
  grid-column: 3;
  grid-row: 1;
}
.section__hypo .hypo__para--position .hypo__link--3 {
  grid-column: 3;
  grid-row: 1;
}
.section__hypo .hypo__link--position {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__hypo .hypo__link {
  color: #00FFC2;
  font-family: "Jost", sans-serif;
  font-size: 26px;
  opacity: 0;
}
.section__hypo .hypo__link--1:hover {
  background-color: rgba(4, 11, 34, 0.9);
  border: 2px solid #00FFC2;
  border-radius: 20px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.section__hypo .hypo__link--1:hover .hypo__link {
  opacity: 1;
}
.section__hypo .hypo__link--2:hover {
  background-color: rgba(4, 11, 34, 0.9);
  border: 2px solid #00FFC2;
  border-radius: 20px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.section__hypo .hypo__link--2:hover .hypo__link {
  opacity: 1;
}
.section__hypo .hypo__link--3:hover {
  background-color: rgba(4, 11, 34, 0.9);
  border: 2px solid #00FFC2;
  border-radius: 20px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.section__hypo .hypo__link--3:hover .hypo__link {
  opacity: 1;
}

.just__para--position {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 5fr 1fr;
  margin-top: 15%;
}
.just__para--position .just__subtitle {
  grid-column: 3/5;
}
.just__para--position .just__para--1 {
  grid-column: 4/5;
}
.just__para--position .just__para--2 {
  grid-column: 4/5;
}

.section__solu {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 5fr 1fr;
  margin-top: 15%;
}
.section__solu .solu__title--position {
  background-color: rgba(4, 10, 32, 0.5);
  height: 160px;
  width: 100%;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 5fr 1fr;
}
.section__solu .solu__title--position .solu__title {
  grid-column: 2;
  display: flex;
  align-items: center;
}
.section__solu .solu__para--1 {
  margin-top: 15%;
  grid-column: 4;
  grid-row: 2;
}
.section__solu .solu__para--2 {
  grid-column: 4;
  grid-row: 3;
}
.section__solu .solu__para--3 {
  grid-column: 4;
  grid-row: 4;
}/*# sourceMappingURL=app.css.map */